@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 20% 2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --background-sed: 240 50% 40%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.wave-animation {
  animation: waveAnim 4s linear infinite;
}

@keyframes waveAnim {
  0% {
    d: path(
      "M 0,500 L 0,187 C 69.52868430092752,208.0326348333906 139.05736860185505,229.06526966678118 201,207 C 262.94263139814495,184.93473033321882 317.2992098935073,119.7715561662659 379,121 C 440.7007901064927,122.2284438337341 509.7457918241156,189.84850566815527 580,203 C 650.2542081758844,216.15149433184473 721.7176228100307,174.834421161113 805,187 C 888.2823771899693,199.165578838887 983.383716935761,264.8138096873927 1053,247 C 1122.616283064239,229.18619031260735 1166.7475094469253,127.91034008931638 1227,104 C 1287.2524905530747,80.08965991068362 1363.6262452765372,133.5448299553418 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 L 0,187 C 49.75197526623154,195.2109240810718 99.50395053246308,203.4218481621436 176,201 C 252.49604946753692,198.5781518378564 355.7361731363792,185.5235314324974 440,201 C 524.2638268636208,216.4764685675026 589.55135692202,260.4840261078667 647,266 C 704.44864307798,271.5159738921333 754.0583991755409,238.54036413603572 825,217 C 895.9416008244591,195.45963586396428 988.215046375816,185.3545173479904 1054,175 C 1119.784953624184,164.6454826520096 1159.0814153211952,154.04156647200276 1219,156 C 1278.9185846788048,157.95843352799724 1359.4592923394025,172.47921676399864 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 L 0,187 C 61.161800068704906,149.5764342150464 122.32360013740981,112.15286843009275 202,133 C 281.6763998625902,153.84713156990725 379.8673995190656,232.96496049467535 440,228 C 500.1326004809344,223.03503950532465 522.2068017863278,133.98728959120578 590,109 C 657.7931982136722,84.01271040879422 771.3053933356236,123.08588114050153 857,167 C 942.6946066643764,210.91411885949847 1000.5716248711781,259.6691858467881 1048,242 C 1095.428375128822,224.33081415321192 1132.4081071796634,140.2373754723463 1196,120 C 1259.5918928203366,99.76262452765373 1349.7959464101682,143.38131226382686 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 L 0,187 C 65.15561662658881,227.4548265200962 130.31123325317762,267.9096530401924 192,265 C 253.68876674682238,262.0903469598076 311.9106836138783,215.81621435932666 392,182 C 472.0893163861217,148.18378564067334 574.046032291309,126.82548952250086 644,114 C 713.953967708691,101.17451047749914 751.9051872208862,96.88182755066987 801,114 C 850.0948127791138,131.11817244933013 910.3332188251461,169.64720027481968 995,189 C 1079.666781174854,208.35279972518032 1188.7619374785297,208.52937135005152 1267,205 C 1345.2380625214703,201.47062864994848 1392.619031260735,194.23531432497424 1440,187 L 1440,500 L 0,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 L 0,187 C 69.52868430092752,208.0326348333906 139.05736860185505,229.06526966678118 201,207 C 262.94263139814495,184.93473033321882 317.2992098935073,119.7715561662659 379,121 C 440.7007901064927,122.2284438337341 509.7457918241156,189.84850566815527 580,203 C 650.2542081758844,216.15149433184473 721.7176228100307,174.834421161113 805,187 C 888.2823771899693,199.165578838887 983.383716935761,264.8138096873927 1053,247 C 1122.616283064239,229.18619031260735 1166.7475094469253,127.91034008931638 1227,104 C 1287.2524905530747,80.08965991068362 1363.6262452765372,133.5448299553418 1440,187 L 1440,500 L 0,500 Z"
    );
  }
}
